body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #eaeaea;
}
.main {
    background-color: #FFF;
    width: 1000px;
    height:500px;
    margin:0 auto;
    padding:20px;
}
.title {
    color: #000;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    margin: 0;

}

.text{

    padding-left:50px;
    padding-right:50px;
}

.login_form{
    padding-left:50px;
    text-align: center;
    padding: 10px;
}

.login_div{
    width:350px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding:5px;

}

.footer{
    color:#cccccc;
    height: 50px;
    text-align: center;
    margin:20px;
    clear: both;
}

.content{
    height: 250px;

}

.sendsubmitru {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    padding: 0;
    border: 0;
    background: transparent url(../images/russia-flag_small.png) no-repeat center top;
    text-indent: -1000em;
    cursor: pointer;
    cursor: hand;
    float: right;
}

.sendsubmiten {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent url(../images/united-kingdom-flag_small.png) no-repeat center top;
    text-indent: -1000em;
    cursor: pointer;
    cursor: hand;
    float: right;
}

a{
    color: #66b502;
}

a:hover{
    color:silver;
    transition-property: color;
    transition-duration: .5s;
}

.btn {
    background: #d4d0d4;
    background-image: -webkit-linear-gradient(top, #d4d0d4, #a19ca1);
    background-image: -moz-linear-gradient(top, #d4d0d4, #a19ca1);
    background-image: -ms-linear-gradient(top, #d4d0d4, #a19ca1);
    background-image: -o-linear-gradient(top, #d4d0d4, #a19ca1);
    background-image: linear-gradient(to bottom, #d4d0d4, #a19ca1);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 4px 3px 10px #999999;
    -moz-box-shadow: 4px 3px 10px #999999;
    box-shadow: 4px 3px 10px #999999;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

.btn:hover {
    background: #78f578;
    background-image: -webkit-linear-gradient(top, #78f578, #13c41f);
    background-image: -moz-linear-gradient(top, #78f578, #13c41f);
    background-image: -ms-linear-gradient(top, #78f578, #13c41f);
    background-image: -o-linear-gradient(top, #78f578, #13c41f);
    background-image: linear-gradient(to bottom, #78f578, #13c41f);
    text-decoration: none;
    cursor:pointer;
}

.hide {
    display: none;
}
.show {
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: #ccc 0 0 10px;
    border-radius: 5px;
    width: 350px;
    margin-left: -60px;
    margin-top: -420px;
    text-align: center;
}

.err {
    display: none;
    color: red;
}
